
:root {
	--primary-color: #03624C;
	--secondary-color: #00DF81;
	--main-texts-color: #141414;
	--secondary-texts-color: #525252;
	--subtitle-color: #E0E0E0;
	--background-color: #FFF;
	--secondary-background-color: #F5F5F5;
	--background-cards: #F5F5F5;
}

[data-theme="dark"] {
	--primary-color: #00DF81;
	--secondary-color: #03624C;
	--main-texts-color: #F5F5F5;
	--secondary-texts-color: #D3D3D3;
	--subtitle-color: #000;
	--background-color: #141414;
	--secondary-background-color: #3c3c3c;
	--background-cards: #3c3c3c;
}

*{
	transition: background-color 0.4s ease-in-out;
}

body{
  margin: 0px;
  color: var(--main-texts-color);
  background-color: var(--background-color);
  font-family: 'Fire Sans', sans-serif;
}
html {
	scroll-behavior: smooth;
  }

h1,h2,h3,p{
	margin: 0px;
}

ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

img{
	max-width: 100%;
	display: block;
}

.contentArea{
	max-width: 1200px;
	margin: 0 auto;
}

.subtitle{
	font-size: 8rem;
	word-break: break-all;
	line-height: 1;
	text-transform: uppercase;
	max-width: 4ch;
}

@media (max-width: 800px){
	.subtitle{
		font-size: 3rem;
		text-transform: capitalize;
		max-width: initial !important;
		color: var(--main-texts-color);
	}
}